<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password through Email</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }
        .container {
            background-color: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .form-group {
            margin-bottom: 15px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="email"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Reset Password</h2>
        <form id="forgot-password-form" action="/api/forget_password" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Submit</button>
        </form>
        <script>
            document
        .getElementById("forgot-password-form")
        .addEventListener("submit", async function (event) {
          event.preventDefault();

          const email = document.getElementById("email").value;
        //   const token = document.getElementById("token").value;
        //   console.log(token);
 
          const response = await fetch("/api/forget_password", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ email }),
          });
 
          const result = await response.json();
 
          if (response.ok) {
            alert('The Email has been Succesfully sent, Please visit your mail inbox and click on the link to reset your password');
            // alert(result.message);
            window.location.href = "/";
          } else {
            // alert(result.error);
            alert('User not Found')
          }
        });

        </script>
    </div>
</body>
</html>